.calendar {
    margin: 30px 20px 60px 20px;

    .col {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .days {
        display: flex;
        justify-content: space-around;

        .col {
            width: 80px;
        }
    }

    .week {
        display: flex;
        justify-content: space-around;
        .cell {
            width: 80px;
            height: 80px;
            text-align: start;
        }
    }
}
