$basic-color: #bdd2b6;
$icon-color: #798777;
$white-color: #fdfdfd;
$bg-color: #f8ede3;

.mb-schedule-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .schedule-input {
        border: 1px solid $icon-color;
        border-radius: 5px;
        padding-left: 6px;
        width: 50%;
        font-size: 12px;
    }

    .schedule-time {
        border: 1px solid $icon-color;
        border-radius: 5px;
        padding-left: 6px;
        margin: 0px 15px;
        font-size: 12px;
    }

    .color-picker {
        margin-right: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: none;
    }

    .color-picker::-webkit-color-swatch {
        border-radius: 15%;
        border: none;
    }

    .schedule-save-btn {
        background-color: transparent;
        border: 1px solid transparent;
        display: flex;
        align-items: center;

        .plus-img {
            width: 18px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .mb-schedule-input {
        margin-bottom: 30px;

        .schedule-input {
            font-size: 14px;
        }

        .schedule-time {
            font-size: 14px;
        }

        .color-picker {
            height: 30px;
        }

        .schedule-save-btn {
            .plus-img {
                width: 24px;
            }
        }
    }
}
