$icon-color: #798777;

.user-email {
    display: flex;
    align-items: center;
    margin: 15px 20px;

    .email-front {
        border: 2px solid $icon-color;
        border-radius: 5px;
        padding: 5px;
        width: 80%;
    }

    span {
        margin: 0 15px;
    }

    .domain-text {
        border: 2px solid $icon-color;
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;
        width: 100%;
    }

    select.domain-list {
        border: 2px solid $icon-color;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
    }
}
