$basic-color: #bdd2b6;
$icon-color: #798777;
$white-color: #fdfdfd;

.user-id {
    margin: 15px 20px 0 20px;
    border: 2px solid $icon-color;
    border-radius: 5px;
    padding: 5px;
}

.user-name {
    margin: 15px 20px 0 20px;
    border: 2px solid $icon-color;
    border-radius: 5px;
    padding: 5px;
}
