$basic-color: #bdd2b6;
$icon-color: #798777;
$bg-color: #f8ede3;
$white-color: #fdfdfd;
$error-color: #d1180d;

.mb-diary {
    margin: 30px 20px;

    .create-diary-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;

        .create-icon {
            width: 16px;
        }
    }

    .diary-listUp {
        border: 1px solid $icon-color;
        border-radius: 5px;
        padding: 15px;
        height: 300px;
        overflow-y: auto;

        .diary-list {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dashed $icon-color;

            .diary-mood {
                display: flex;
                align-items: center;
                margin-right: 10px;

                .mood-icon {
                    width: 16px;
                }
            }
            .diary-title {
                width: -webkit-fill-available;
            }
            .diary-time {
                width: -webkit-fill-available;
                font-size: 10px;
                text-align: end;
            }
        }
    }
    .diary-listUp::-webkit-scrollbar {
        width: 10px;
    }
    .diary-listUp::-webkit-scrollbar-thumb {
        background-color: $icon-color;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    .diary-listUp::-webkit-scrollbar-track {
        background-color: $basic-color;
        border-radius: 10px;
    }
}

.post-details {
    margin: 30px 20px;
    height: 300px;
    background-color: $bg-color;
    border: 1px solid $bg-color;
    border-radius: 5px;
}
