$basic-color: #bdd2b6;
$icon-color: #798777;
$bg-color: #f8ede3;
$white-color: #fdfdfd;
$error-color: #d1180d;

.mb-show-post {
    margin: 30px 20px;

    .mb-edit-post {
        .edit-post-title {
            width: -webkit-fill-available;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-bottom: 1px solid $icon-color;
            padding: 6px;
            font-weight: bold;
        }

        .edit-post-mood {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-around;

            .input-mood-smile.focused {
                filter: invert(53%) sepia(11%) saturate(415%) hue-rotate(66deg) brightness(94%) contrast(88%) blur(20%);
                box-shadow: 0px 0px 0px 4px $icon-color;
                border-radius: 50px;
            }

            .input-mood-meh.focused {
                filter: invert(53%) sepia(11%) saturate(415%) hue-rotate(66deg) brightness(94%) contrast(88%) blur(20%);
                box-shadow: 0px 0px 0px 4px $icon-color;
                border-radius: 50px;
            }

            .input-mood-frown.focused {
                filter: invert(53%) sepia(11%) saturate(415%) hue-rotate(66deg) brightness(94%) contrast(88%) blur(20%);
                box-shadow: 0px 0px 0px 4px $icon-color;
                border-radius: 50px;
            }

            #moodText {
                border: 1px solid $icon-color;
                border-radius: 5px;
                padding: 0px 6px;
                font-size: 12px;
            }
        }

        .edit-post-content {
            width: -webkit-fill-available;
            height: 300px;
            margin-bottom: 20px;
            border: 1px solid $icon-color;
            border-radius: 6px;
            padding: 6px;
        }

        .edit-post-btn {
            display: flex;
            justify-content: space-around;
            margin-bottom: 54px;

            .edit-back-btn {
                border: 1px solid transparent;
                background-color: transparent;
                padding: 4px 26px;
            }

            .edit-save-btn {
                border: 1px solid transparent;
                background-color: transparent;
                padding: 4px 26px;
            }

            .edit-back-btn:hover {
                background-color: $icon-color;
                color: $white-color;
                font-weight: bold;
                border-radius: 5px;
            }

            .edit-save-btn:hover {
                background-color: $icon-color;
                color: $white-color;
                font-weight: bold;
                border-radius: 5px;
            }
        }
    }

    // mb 다이어리 상세 페이지
    .show-post-back-btn {
        text-align: end;

        .show-back-btn {
            border: 1px solid transparent;
            background-color: transparent;

            .back-icon {
                width: 16px;
            }
        }

        .show-back-btn:hover {
            filter: invert(53%) sepia(11%) saturate(415%) hue-rotate(66deg) brightness(94%) contrast(88%);
        }
    }

    .show-post-title {
        margin-bottom: 20px;
        width: -webkit-fill-available;
        border: 1px solid transparent;
        border-bottom: 1px solid $icon-color;
        padding: 6px;
        font-weight: bold;
    }

    .show-post-choose {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .post-mood {
            display: flex;
            align-items: center;

            .mood-icon {
                width: 24px;
                margin-right: 10px;
            }

            .mood-text {
                font-size: 12px;
            }
        }

        .show-post-time {
            text-align: end;

            .edit-time {
                display: flex;

                .show-post-time-title {
                    font-size: 10px;
                }
                .date-string {
                    font-size: 10px;
                }

                .time-string {
                    font-size: 10px;
                }
            }
        }
    }

    .show-post-content {
        margin-bottom: 20px;
        width: -webkit-fill-available;
        border: 1px solid $icon-color;
        border-radius: 6px;
        padding: 6px;
        height: 300px;
        overflow-y: auto;
        background-color: $bg-color;
    }

    .show-post-content::-webkit-scrollbar {
        width: 10px;
    }
    .show-post-content::-webkit-scrollbar-thumb {
        background-color: $icon-color;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    .show-post-content::-webkit-scrollbar-track {
        background-color: $basic-color;
        border-radius: 10px;
    }

    .show-post-btn {
        display: flex;
        justify-content: space-around;
        margin-bottom: 54px;

        .edit-btn {
            border: 1px solid transparent;
            background-color: transparent;
            padding: 4px 26px;
        }

        .delete-btn {
            border: 1px solid transparent;
            background-color: transparent;
            padding: 4px 26px;
        }

        .edit-btn:hover {
            background-color: $icon-color;
            color: $white-color;
            font-weight: bold;
            border-radius: 5px;
        }

        .delete-btn:hover {
            background-color: $icon-color;
            color: $white-color;
            font-weight: bold;
            border-radius: 5px;
        }
    }
}
